{{>includes/header}}
<main class="pokemon flex flex-col indigo-300 h-screen">
    <nav class="nav w-full h-20 p-2 md:p-0 list-none gap-2 flex justify-around items-center bg-indigo-400 md:col-span-4 ">
        <li class="list-li"><a href="/">Todos</a></li>
        <li class="list-li"><a href="/kanto">Kanto</a></li>
        <li class="list-li"><a href="/johto">Johto</a></li>
        <li class="list-li"><a href="/hoenn">Hoenn</a></li>
        <li class="list-li"><a href="#">Sinnoh</a></li>
    </nav>
    <div class="col-span-4 flex items-center justify-center m-auto">
        <h1 class="text-xl md:text-5xl font-mono "> Página não encontrada :[</h1>
    </div>
</main>

{{>includes/footer}}
